@font-face {
    font-family: outfit;
    src: url(Font/Outfit-VariableFont_wght.ttf);
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'outfit';
}
.container {
    width: 100%;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-box {
    width: 270px;
    height: auto;
    background: hsl(216, 50%, 16%);
    padding: 19px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 0 23px hsl(219, 38%, 31%);
}
.center-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.active {
    width: 232px;
    height: 232px;
    position: relative;
    border-radius: 8px;
}
.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 232px;
    background-color: hsl(178, 100%, 50%);
    display: none;
    opacity: 40%;
    border-radius: 8px;
}
.active img {
    width: 100%;
    height: 232px;
    border-radius: 8px;
}
.active svg {
    position: absolute;
    top: 40%;
    left: 40%;
    display: none;
}
.nft-name {
    color: hsl(0, 0%, 100%);
    padding: 16px 0;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    width: 62%;
}
.center-box p:nth-child(3) {
    color: hsl(0, 0%, 100%);
    padding:0 0 24px 0;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: hsl(215, 51%, 70%);
    opacity: 60%;
}
.center-box p:nth-child(4) {
    float: left;
    color: hsl(178, 100%, 50%);
    font-size: 13px;
    font-weight: 600;
    position: relative;
    padding-left: 16px;
}
.center-box p:nth-child(4) svg {
    position: absolute;
    left: 0;
}
.center-box p:nth-child(5) {
    text-align: right;
    padding:0 0 16px 0;
    color: hsl(215, 51%, 70%);
    opacity: 66%;
    font-size: 13px;
    font-weight: 600;
    position: relative;
}
.center-box p:nth-child(5) svg {
    position: absolute;
    top: 0;
    left: 65%;
}
.center-box hr {
    width: 100%;
    color: hsl(215, 32%, 27%);
}
.center-box .box-footer p {
    color: hsl(0, 0%, 100%);
    padding-top: 16px;
    font-size: 14px;
    color: hsl(215, 51%, 70%);
    opacity: 66%;
    font-weight: 600;
    text-align: left;
}
.avatar-detail span {
    color: hsl(0, 0%, 100%);
}
.center-box .box-footer {
    text-align: left;
    position: relative;
}
.center-box .box-footer img {
    width: 30px;
    height: auto;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-top: 20px;
}
.avatar-detail {
    display: inline-block;
    position: absolute;
    top: 18%;
    left: 18%;
}

/*When Card is Active*/
.nft-name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: color 0.2s;
}
.box-footer span:hover {
    color: hsl(178, 100%, 50%);
    transition: color 0.2s;
    cursor: pointer;
}
.active:hover::before {
    display: block;
    cursor: pointer;
    transition: all 0.2s;
}
.active:hover svg {
    display: block;
    cursor: pointer;
    transition: all 0.2s;
}
